{{ define "add_change_sku" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>sku card</title>
    </head>
    <body>
	{{ template "header" }}
        <h2>sku card</h2>
        <form method="POST" action="postform_add_change_sku">
            <label>sku name</label><br>
            <input type="text" name="sku_name" /><br><br>
			
            <label>sku id</label><br>
            <input type="number" name="id" /><br><br>
			
			<label>sku type</label><br>
            <input type="text" name="sku_type" /><br><br>
			
			<label>sku email</label><br>
            <input type="text" name="sku_email" /><br><br>
			
            <input type="submit" value="Add" />
        </form>
    </body>
</html>
{{ end }}