{{ define "edit" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>sku card</title>
    </head>
    <body>
	{{ template "header" }}
        <h3>Edit Product</h3>
        <form method="POST">
            <input type="hidden" name="id" value="{{.id}}" />

            <label>sku name</label><br>
            <input type="text" name="sku_name" value="{{.sku_name}}" /><br><br>

            <label>sku type</label><br>
            <input type="text" name="sku_type" value="{{.sku_type}}" /><br><br>

            <label>sku email</label><br>
            <input type="text" name="sku_email" value="{{.sku_email}}" /><br><br>

            <input type="submit" value="Send" />
        </form>
    </body>
</html>
{{ end }}