{{ define "list_sku" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>List Costomers</title>
    </head>
    <body>
	{{ template "header" }}
       
		 <h2>List Costomers</h2>
        <p><a href="/add_change_sku">Add</a></p>
        <table border="1">
            <thead><th>id</th><th>sku_name</th><th>sku_type</th><th>sku_email</th><th></th></thead>
            {{range . }}
            <tr>
                <td>{{.id}}</td>
                <td>{{.sku_name}}</td>
                <td>{{.sku_type}}</td>
                <td>{{.sku_email}}</td>
                <td><a href="/edit/{{.id}}">change</a> |
                    <a href="/delete/{{.id}}">delete</a>
                </td>
            </tr>
            {{end}}
        </table>
        </ul>
    </body>
</html>
{{ end }}